---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<url><loc>/</loc></url>
<url><loc>/menu/</loc></url>
<url><loc>/blog/</loc></url>
{% for post in collections.posts %}<url><loc>{{ post.url }}</loc></url>{% endfor %}
</urlset>